apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "faaast-service.fullname" . }}-config
  labels:
    {{- include "faaast-service.labels" . | nindent 4 }}
data:
  config.json: |
    {
      "persistence": {
        {{- if .Values.seeding.enabled }}
        "initialModelFile": "{{ .Values.seeding.mountPath }}/{{ .Values.seeding.filename }}",
        {{- end }}
        "@class": "{{ .Values.persistence.class }}",
        {{- if and .Values.persistence.username .Values.persistence.password }}
        "connectionString": "mongodb://{{ .Values.persistence.username }}:{{ .Values.persistence.password }}@{{ .Values.persistence.host | default "mongodb" }}:{{ .Values.persistence.port | default "27017" }}",
        {{- else }}
        "connectionString": "mongodb://{{ .Values.persistence.host | default "mongodb" }}:{{ .Values.persistence.port | default "27017" }}",
        {{- end }}
        "database": "{{ .Values.persistence.database }}",
        "override": "{{ .Values.persistence.override }}"
      },
      "messageBus": {
        "@class": "{{ .Values.messageBus.class }}",
        "host": "{{ .Values.messageBus.host }}",
        "user": "{{ .Values.messageBus.user }}",
        "password": "{{ .Values.messageBus.password }}",
        "slimEvents": "{{ .Values.messageBus.slimEvents }}",
        "eventCallbackAddress": "{{ .Values.messageBus.eventCallbackAddress }}",
        "topicPrefix": "{{ .Values.messageBus.topicPrefix }}"
      },
      "endpoints": [
        {{- range $i, $endpoint := .Values.endpoints }}
          {
            "@class": "{{ $endpoint.class }}",
            "port": {{ $endpoint.port }},
            "corsEnabled": {{ $endpoint.corsEnabled }},
            {{- if $endpoint.security.enabled }}
            "jwkProvider": "{{ $endpoint.security.jwkProvider }}",
            "aclFolder": "/acl/aclFolder_endpoint{{ $i }}",
            {{- end }}
            "sslEnabled": {{ $endpoint.sslEnabled }}
          }
          {{- if ne $i (sub (len $.Values.endpoints) 1) }},{{ end }}
        {{- end }}
      ]
    }