{{- if and (.Values.ingress.basicAuth.enabled) (eq .Values.ingress.className "nginx") }}
apiVersion: v1
data:
  auth: {{ printf "%s:%s" .Values.ingress.basicAuth.user .Values.ingress.basicAuth.htPassword | b64enc }}
kind: Secret
metadata:
  name: faaast-registry-basic-auth-secret
type: Opaque
{{- end }}
