# values.yaml

image:
  repository: ghcr.io/factory-x-contributions/fa3st-service
  tag: 0.1.0-cloudevents
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 443

fullnameOverride: faaast-service

# Only works in combination with nginx ingress class
basicAuth:
  enabled: true
  user: ""
  password: ""

ingress:
  enabled: true
  className: "nginx"
  tls:
    - hosts: []
      secretName: ""
  hosts: []
#    - host: ""
#      paths:
#        - path: /
#          pathType: Prefix

config:
  mountPath: "/app/config/config.json"

seeding:
  mountPath: "/app/resources"
  filename: ""
  github:
    repository: ""
    personalAccessToken: ""

persistence:
  class: "de.fraunhofer.iosb.ilt.faaast.service.persistence.mongo.PersistenceMongo"
  connectionString: mongodb://<path:factory-x-ci-cd/data/async-aas#mongodb-admin-user>:<path:factory-x-ci-cd/data/async-aas#mongodb-admin-pw>@mongodb:27017
  database: faaast-database
  override: true

messageBus:
  class: "de.fraunhofer.iosb.ilt.faaast.service.messagebus.cloudevents.MessageBusCloudevents"
  host: ""
  user: ""
  password: ""
  slimEvents: true
  eventCallbackAddress: ""

endpoints:
  - class: "de.fraunhofer.iosb.ilt.faaast.service.endpoint.http.HttpEndpoint"
    port: 8080
    corsEnabled: true
    sslEnabled: false

autoscaling:
  enabled: false
serviceAccount:
  # Specifies whether a service account should be created
  create: false
