# values.yaml

image:
  repository: ghcr.io/factory-x-contributions/fa3st-service
  tag: 0.1.0-cloudevents
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 443

fullnameOverride: faaast-service

# Only works in combination with nginx ingress class
basicAuth:
  enabled: false
  user: ""
  # hashed password for compatibility reasons
  htPassword: ""

ingress:
  enabled: true
  className: "nginx"
  tls:
    - hosts: []
      secretName: ""
  hosts: []
#    - host: ""
#      paths:
#        - path: /
#          pathType: Prefix

config:
  mountPath: "/app/config/config.json"

seeding:
  mountPath: "/app/resources"
  filename: ""
  github:
    repository: ""
    personalAccessToken: ""

persistence:
  class: "de.fraunhofer.iosb.ilt.faaast.service.persistence.mongo.PersistenceMongo"
  host: mongodb
  port: 27017
  database: faaast-database
  override: false
  username: ""
  password: ""

messageBus:
  class: "de.fraunhofer.iosb.ilt.faaast.service.messagebus.cloudevents.MessageBusCloudevents"
  host: ""
  user: ""
  password: ""
  slimEvents: true
  eventCallbackAddress: ""
  topicPrefix: ""

registry:
  # Base URL for the AAS Registry (BaSyx Registry)
  aasRegistryBaseUrl: "https://faaast-registry.factory-x.catena-x.net"
  # Base URL for the Submodel Registry (BaSyx Registry)
  submodelRegistryBaseUrl: "https://faaast-registry.factory-x.catena-x.net"

endpoints:
  - class: "de.fraunhofer.iosb.ilt.faaast.service.endpoint.http.HttpEndpoint"
    port: 8080
    corsEnabled: true
    sslEnabled: false
    security:
      enabled: false
      jwkProvider: ""
      aclFiles: []

autoscaling:
  enabled: false
serviceAccount:
  # Specifies whether a service account should be created
  create: false
